.header{
    background-color: black;
    color: white;
    text-align: center;
}
.header-title{
    font-weight: 600;
}
img{
    width: 200px;
    height:300px;
}
.box-one{
    padding:10px;
    margin-top: 20px;
    display: inline-block;
    border: black 2px solid;
    text-align: center;
    width:200px;
}
.box-two{
    padding:10px;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    border: black 2px solid;
    width:200px;
   
    

}
.box-three{
    padding:10px;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    border: black 2px solid;
    width:200px;
   
    
    
}
.box-four{
    padding:10px;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    border: black 2px solid;
    width:200px;
    
    
}
.footer{
    background-color: black;
    text-align: center;
    color:white;


}


.button{
    width: 350px;
    height: 20px;
    background-color: yellow;
    border: none;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    
    

}

button:hover{
    background-color: green;
}
.wholebox{
    text-align: center;
}
.order{
    background-color: black;
    color: white;
    padding:5px;
}
order:hover{
    background-color: yellowgreen;
}
.footer__des{
    margi-top:10px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;

}